.logo {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;

  &__title {
    display: flex;
    color: $c-gray;
    text-shadow: 0 0 8px black;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;

    @include onTablet {
      font-size: 36px;
    }
  }
}
