.basket {
  background-color: $c-dark;

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: 29px 0;

    @include onTablet {
      padding: 34px 0;
    }

    @include onDesktop {
      padding: 36px 0;
    }
  }

  &__top {
    --icon-width: 18px;

    display: grid;
    grid-template-columns: var(--icon-width) 1fr;
    margin-bottom: 46px;
  
    @include onTablet {
      --icon-width: 24px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;

    @include onDesktop {
      flex-direction: row;
      border-top: 4px dashed black;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 10px;

    @include onTablet {
      padding: 0;
    }

    @include onDesktop {
      padding-right: 2vw;
      width: 100%;
      height: 100%;
    }
  }

  &__user-cart {
    display: flex;
    flex-direction: column;
    border-top: 4px dashed black;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;

    @include onDesktop {
      padding: 0;
      padding-left: 2vw;
      height: 100%;
      width: 100%;
      border: none;
    }
  }

  &__result {
    text-align: center;
    align-items: center;

    @include onTablet {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-price {
      font-weight: 700;
      line-height: 140%;
      font-size: 24px;
      color: $c-gray;
      text-align: center;
      margin: 20px 0;
      text-decoration: underline dotted $c-gray;
      width: 100%;
      display: none;
  
      &--mobile {
        display: block;
      }

      @include onTablet {
        font-size: 32px;

        &--tablet {
          display: block;
        }

        &--mobile {
          display: none;
        }
      }
    }

    &-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      height: 30px;
      width: 40%;
      border: 2px solid black;
      background-color: #fff;
      border-radius: 16px;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 20px;

      transition: all 0.3s;

      @include onTablet {
        height: 60px;
        width: 50%;
        font-size: 24px;
        border-radius: 20px;
      }

      &:hover {
        box-shadow: 0 0 6px $c-gray;
      }

      &:active {
        background: greenyellow;
      }
    }
  }

  &__submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
